.seek-youth-information__header {
  margin-top: 8px;
}

.seek-youth-information__country-content
{
  width: 80%;
  margin: auto;
}

/* .seek-youth-information__country__toggle-content.toggle-content{
  width: 97%;
  margin-left: 40px;
} */