.toggle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 12px;
  background-color: #0d3880;
  color: white;
}

.toggle-header__toggle-icon {
  width: 32px;
  height: 32px;
  color: white;
}