html,
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  top: 0px;
  overflow: hidden;
}

.seek-youth__wrapper {
  min-height: 100%;
}

.seek-youth__content-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
